* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dab7b5;
  font-weight: bold;
}

h1 {
  text-align: center;
}

label {
  color: white;
}

input {
  cursor: pointer;

}

a {
  color: #333;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F7EF8A;
  height: 4.6875rem;
  padding: 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}


.menu {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.menu a {
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: .45s;
}

.menu a:hover {
  background-color: darksalmon;
}

@media (max-width: 600px) {
  .menu {
    display: block;
    position: absolute;
    top: 4.6875rem;
    left: 0;
    background-color: #dab7b5;;
    text-align: center;
    width: 100%;
    height: 0;
    z-index: 1;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.5s;
  }

  .menu a {
    padding: 1rem 0;
    margin-inline: 1rem;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
    border-radius: 0;
  }
}

.form-wrapper {
  max-width: 1000px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: url(https://img.itdg.com.br/images/recipes/000/029/124/320646/320646_original.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.452);
  border-radius: 20px;
}

.cover-opacity {
  background-color: #59584c;
  opacity: 0.7;
}

form {
  flex-direction: column;
}

#cabeçalho {
  text-align: center;
}

#encomenda {
  font-size: 24px;
  font-family: monospace;
  display: flex;
  padding-top: 2px;
}

#encomenda h1 {
  text-align: center;
}

.decoracao {
  border-radius: 10px;
  width: 170px;
  height: 25px;
  text-align: center;
}

#bloco {
  margin: 10px;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

#bloco input {
  margin-top: 10px;
}

#bloco h3 {
  padding: 5px;
  text-align: center;
  background-image: linear-gradient(to right, #DDD377, transparent);
}

.date-input {
  border-radius: 50px;
  color: black;
  border: 1px solid black;
  background: rgb(252, 255, 253);
  padding: 15px 70px;
  text-decoration: none;
  margin-left: 1rem;
  margin-bottom: 2rem;
  font-size: 20px;
}

.encomendar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-encomendar {
  border-style: none;
  background-color: #6c63ff;
  padding: 1.2rem 5rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.btn-encomendar:hover {
  background-color: #4c43faf1;
  transition: 0.8s;
}

.btn-encomendar a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}